<h3>{{titre}}</h3>
<h4>Ajout d'assignment</h4>
<form ngForm class="form" #assignmentForm (submit)="onSubmit();assignmentForm.reset()">

    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" name="nom">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      
    <button mat-stroked-button color="primary" [disabled]="!ajoutActive" >
        Ajouter de devoir
    </button>
</form>

<h4>Angular inferieur a 17</h4>
<p>Boucle</p>
<ul>
    <li *ngFor="let item of assignments">
        {{item.nom}}
    </li>
</ul>
<p>Avec condition IF et ELSE</p>
<div *ngFor="let assignment of assignments"
    [ngClass]="{'rendu':assignment.rendu, 'nonRendu': !assignment.rendu}"
>
    <h3 mat-subheader> {{assignment.dateDeRendu | date}} </h3>
    <p appRendu *ngIf="assignment.rendu; else nonsoumis">
        Devoir intitulé {{assignment.nom}} a été rendu.
    </p>
    <ng-template #nonsoumis>
        Devoir intitulé {{assignment.nom}} n'a pas été rendu.
    </ng-template>
</div>

<h5>Angular 17</h5>
<p>Boucle</p>

    @for (item of assignments; track item.nom) {
        <p>
            Le devoir {{item.nom}} est à rendre le {{item.dateDeRendu}}.Soumis ou pas {{item.rendu}}
        </p>
    }

<p>Conditions</p>
    @for(item of assignments; track item.nom){
        <div [ngStyle]="{'color': item.rendu ? 'green':'red'}" >
            @if (item.rendu) {
                <p>Le devoir {{item.nom}} a été rendu le {{item.dateDeRendu | date:"dd/MM/yyyy"}}.</p>
            }@else{
                <p>Le devoir de {{item.nom}} doit etre rendu le {{item.dateDeRendu |date:"dd/MM/yyyy"}}. </p>
            }
        </div>
    }

    <app-assignment-detail></app-assignment-detail>